<div class="scrollable" ng-controller="postControl"> 
  <div class="scrollable-content">
    <div class="section container-fluid">

      <h3 class="page-header">{{topicName}}</h3>
      <p>{{topicBody}}</p>

      <div class="btn-group justified nav-tabs" id="post-btn-group">
        <a class="btn btn-default for-tab"
           href="#Tab1"
           toggle="on"
           active-class="active"><i class="fa fa-check"></i>
        </a>
        
        <a class="btn btn-default against-tab"
           href="#Tab2"
           toggle="on"
           active-class="active"><i class="fa fa-times"></i>
        </a>
      </div>

      <div class="tab-content">
        <div class="tab-pane" 
            toggleable 
            active-class="active" 
            default="active" 
            id="Tab1" 
            exclusion-group="myTabs">

            <div class="scrollable-content container-fluid section">
              <div class="panel-group">

                <div class="panel panel-default post" ng-repeat="post in posts | filter: {Position__c: 'For'}">
                  <div class="panel-heading">
                    <p class="panel-title">
                      {{post.Post_User__c}} <span class="vote-buttons"><a href="" class="upvote"><i class="fa fa-chevron-up"></i></a> 
                      <a href="" class="downvote"><i class="fa fa-chevron-down"></i></a></span>
                    </p>
                    <div class="post-timestamp">{{post.CreatedDate}}</div>
                  </div>

                  <div class="panel-body">
                    {{post.Username__c}}                     
                  </div>
                </div>

              </div>
            </div>
        </div>

        <div class="tab-pane" 
            toggleable 
            active-class="active" 
            id="Tab2"
            exclusion-group="myTabs">
            <div class="scrollable-content container-fluid section">
              <div class="panel-group">

                <div class="panel panel-default post" ng-repeat="post in posts | filter: {Position__c: 'Against'}">
                  <div class="panel-heading">
                    <p class="panel-title">
                      {{post.Username__c}}
                      <span class="vote-buttons">
                        <a ng-click="upvote(post);" ><i class="fa fa-chevron-up upvote"></i></a> 
                        <a ng-click="downvote(post);" ><i class="fa fa-chevron-down downvote"></i></a>
                      </span>
                    </p>
                    <div class="post-timestamp">{{post.CreatedDate}}</div>
                  </div>

                  <div class="panel-body">
                    {{post.Post_Body__c}}                 
                  </div>
                </div>

              </div>
        </div>

        <div content-for="navbarLeft">
          <a ng-click="backToCat();" class="btn btn-navbar sidebar-toggle">
            <i class="fa fa-arrow-left"></i>
          </a>
        </div>

        <div content-for="bottomButton">
          <a href="#overlay1" class="btn btn-navbar" toggle="on"><i class="fa fa-plus fa-navbar"></i> Add Post</a>
          
          <div overlay="overlay1">
            <h4 class="overlay-title">Leave a Reply</h4>
              <form ng-submit="sendPost()">
                <input type="radio" ng-model = "position" value="For">For<br/>
                <input type="radio" ng-model = "position" value="Against">Against
                <textarea type="text" ng-model="newPostBody" label="" bs-form-control></textarea>
              </form>

            <p toggle="off" bubble target="overlay1">
              <input ng-click="sendPost()" class="btn btn-primary">Submit</input>
              <span class="btn btn-default">Cancel</span>
            </p>  
          </div>

        </div>

    </div>
  </div>
</div>